# Path to your photo & video library
MEDIA_LOCATION=/path/to/your/photos

# Security (Generate a random string for this)
JWT_SECRET=super_secret_jwt_key_change_me

# Timezone: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Europe/Amsterdam

# Port to access the Web UI
WEB_PORT=9475

# (Optional) Custom path for app cache, thumbnails, and other app data.
# If left out, an internal volume will be used.
# APP_DATA_LOCATION=/path/to/fast/ssd/app_data
