# Path to your photo & video library on host
MEDIA_LOCATION=/path/to/your/photos

# Port to access the Web UI
WEB_PORT=9475

# Security (Generate a random string for this)
JWT_SECRET=super_secret_jwt_key_change_me

# Timezone: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Europe/Amsterdam

# Max Worker limits. Adjust lower for lower end devices
RP__SCALER__PROFILES__LIGHT__MAX_WORKERS=5
RP__SCALER__PROFILES__THUMBNAILS__MAX_WORKERS=2
RP__SCALER__PROFILES__ML__MAX_WORKERS=2

# (Optional) Custom path for app cache, thumbnails, and other app data.
# APP_DATA_LOCATION=/path/to/fast/ssd/app_data