# Path to your photo & video library
MEDIA_LOCATION=/path/to/your/photos

# Path to fast SSD storage for app cache, thumbnails, and other app data
APP_DATA_LOCATION=app_data

# Port to access the Web UI
WEB_PORT=9475

# Security (Generate a random string for this)
JWT_SECRET=super_secret_jwt_key_change_me