# Rust build target folder
target/

# Application runtime data & test media
app_data/
media_dir/
thumbnails/

# Git history & environment files
.git/
.gitignore
.env
*.log

# IDE & OS files
.idea/
.vscode/