# Rust build target folder
target/

# Application runtime data & test media
app_data/
media_dir/
thumbnails/
bruno/

# Git history & environment files
.git/
.gitignore
.env
*.log

# IDE & OS files
.idea/
.vscode/

crates/test_integration/assets
crates/test_integration/app_data